.botao{
    background-color: #242a60;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 16px 32px;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin: 32px 0;
    transition: 0.2s;
}

.botao:hover {
    background-color: #4F6DFF;
}